{% extends "base.html.twig" %}

{% block title  %}About{% endblock %}

{% block OnloadDiv %}
<body onload="navHover(); dropDownMenu();date_time();SaveCookies('about')">
	<div id="wrapper">
	{% endblock %}

{% block body %}
<div id="page">
    <div id="content_2">
        <p>Я Вознесенский Владислав Александрович.Родился 23 сентября 1998 года. Учился в Первомайской ОШ №1 и
            закончил в 2016г. По окончании школы поступил в Севастопольский государственный университет,
            институт Информационных технлогий и управления в технических системах, где продолжаю учиться по сей
            день. </p>
    </div>
</div>
{% endblock %}